@{
    ViewData["Title"] = "GBC_WebDevelopers Technical Support";
}
    <h1>GBC_WebDevelopers Technical Support</h1>
    <p>Sports management software for the sports enthusiast</p>
    <br />
    <h2>Admin</h2>
    <div class="home-group">
        <a style="color:#33B2FF;font-size:20px;" class="nav-link text-dark home-item" asp-area="" asp-controller="Products" asp-action="Index">Manage Products</a>
        <a style="color:#33B2FF;font-size:20px;" class="nav-link text-dark home-item" asp-area="" asp-controller="Technicians" asp-action="Index">Manage Technicians</a>
        <a style="color:#33B2FF;font-size:20px;" class="nav-link text-dark home-item" asp-area="" asp-controller="Customers" asp-action="Index">Manage Customers</a>
        <a style="color:#33B2FF;font-size:20px;" class="nav-link text-dark home-item" asp-area="" asp-controller="Incidents" asp-action="Index">Manage Incidents</a>
        <a style="color:#33B2FF;font-size:20px;" class="nav-link text-dark home-item" asp-area="" asp-controller="Home" asp-action="Index">Manage Registrations</a>
    </div>
    <h2>Technicians</h2>
    <a style="color:#33B2FF;font-size:20px;" class="nav-link text-dark" asp-area="" asp-controller="Incidents" asp-action="Index">Update Incident</a>

